name: Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: SnehaPandit-book
          outputs: |
            output/snake.svg
            output/snake-dark.svg?palette=github-dark

      - name: Commit Snake
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate contribution snake"
          add: "output"
